body {
    margin: 0px;
    padding: 0px;
    background-color: azure;
    /* opacity: ; */
}

span {
    position: absolute;
    font-size: 40px;
    top: 630px;
    left: 740px;
}

.bttnStart {
    position: absolute;
    width: 400px;
    height: 150px;
}

.bttn {
    width: 400px;
    height: 150px;
    background: none;
    color: rgb(0, 0, 0);
    border: 0px;
}

.bttn svg {
    position: absolute;
    width: 400px;
    height: 150px;
    top: 590px;
    left: 600px;
    fill: none;
}

.bttn rect {
    width: 400px;
    height: 150px;
    stroke: rgb(0, 0, 0);
    stroke-width: 8px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: .8s ease all;
}

.bttn:hover rect {
    stroke-dashoffset: 0;
}

.imgGame {
    position: absolute;
    width: 680px;
    height: 563px;
    left: 450px;
    background-image: url("../img/logo.png");
}