body {
    margin: 0px;
    padding: 0px;
    background-color: azure;
}

.title {
    position: absolute;
    top: 10px;
    left: 670px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.instruction {
    position: absolute;
    top: 80px;
    left: 500px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}

.container {
    width: 550px;
    overflow: auto;
    position: absolute;
    top: 130px;
    left: 500px;
    padding: 10px;
}

.container div {
    align-content: center;
    top: 10px;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    float: left;
    border-radius: 9px;
    box-shadow: 0px 8px 0px;
    background-color: rgb(194, 133, 251);
    font-size: 30pt;
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-justify: auto;
}

.music {
    position: absolute;
    top: 50px;
    left: 80px;
}

.txtMusic {
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.time {
    position: relative;
    left: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.name {
    position: relative;
    left: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.moves {
    position: relative;
    left: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.tiempo {
    position: absolute;
    top: 170px;
    left: 1100px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.nombre {
    position: absolute;
    top: 290px;
    left: 1100px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.movimiento {
    position: absolute;
    top: 420px;
    left: 1100px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.gif {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/fe28b730923627.563933e4c2143.gif");
    position: absolute;
    top: 240px;
    left: 50px;
    width: 450px;
    height: 450px;
}